*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.icon{
    height: 40px;
    width: 40px;
}
.card-container{
    margin-left: 12px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #141614;
    width: 300px;
    height: 300px;
    color: white;
    align-items: center;
}
.card-wrapper{
    padding: 30px 20px;
}
.card-title{
    max-width: 200px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 22px;
}
.card-line{
    margin-top: 20px;
    width: 40px;
    height: 2px;
    background-color:#1ABC9C ;
}
.card-description{
    max-width: 200px;
    margin-top: 20px;
}
.card-container:hover{
    border: 5px solid #1ABC9C;
    transition: 300ms ease;
}